/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

 /**
 * Import dependencies
 */
@import "dependencies";

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */

 @use "layouts/home";

/**
 * Do NOT include anything else in this file!
 */
